<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs")  %> 
<body>


        <%- include("./partials/header.ejs")  %> 

   
    <main>

    <section class="hero">
        <div class="box">
            <h3>INSTITUTOS DE INVESTIGACIÓN</h3>
            <h2>MEMORIAS 2020-2021</h2>
            <a href="/institutos"><button class="box-button" >EXPLORAR INSTITUTOS</button></a>
        </div>
        <!-- <img src="/images/esquina-bn.jpeg" alt="" class="slide-image"> -->
    </section>

    <section class="about">
        <h3>ABOUT</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, sequi vel dolorem quam recusandae sed ut cum eum voluptatem nulla qui a dolor inventore autem pariatur quasi? At, dolores possimus</p>






    <section class="data-container">
        <article class="data">
            <div class="data-image-container">
            <img src="/images/institutos.svg" alt="">
            </div>
            <h3 class="copy-data"><%= institutos.length %> institutos</h3>
        </article>
        <article class="data">
            <div class="data-image-container">
                <img src="/images/proyectos.svg" alt="">
            </div>
                <h3 class="copy-data"><%= proyectos.length %> proyectos de investigación</h3>
        </article>
        <article class="data">
            <div class="data-image-container">
                <img src="/images/becarixs.svg" alt="">
            </div>
                <h3 class="copy-data"><%= becarios.length %> becarixs</h3>
        </article>

        
        
    </section>
    <a href="/institutos"><button class="about-button">MÁS DATOS</button></a>
</section>



    </main>

    <%- include("./partials/footer.ejs")  %> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>